<div class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header accent p-24">
        <h2 *ngIf="environment?.id">Env {{environment.id}} <mat-icon (click)="renameEnvironment()">edit</mat-icon></h2>
        <h2 *ngIf="!environment?.id">-</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <mat-spinner *ngIf="!environment" [diameter]="40" style="margin: 20px auto"></mat-spinner>

        <mat-tab-group dynamicHeight="true" *ngIf="environment">

            <mat-tab label="Architecture">
                <div class="architecture p-24">
                    <div class="actions">
                        <environment-actions [environmentId]="environment.id"></environment-actions>
                    </div>
                    <environment-architecture [environmentId]="environment.id"></environment-architecture>
                </div>
            </mat-tab>

            <mat-tab label="Settings">
                <div class="p-24">
                    <h3>Settings</h3>
                    <button mat-button mat-raised-button color="warn" (click)="deleteEnvironment()">
                        <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">
                            delete
                        </mat-icon>
                        Delete environment
                    </button>
                </div>
            </mat-tab>

            <!--<mat-tab label="History">-->
            <!--<div class="p-24">-->
            <!--<p>History</p>-->
            <!--</div>-->
            <!--</mat-tab>-->

            <mat-tab label="Config">
                <div class="p-24">
                    <environment-yml [environmentId]="environment.id"></environment-yml>
                    <pre>{{environment|json}}</pre>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
