.page-layout.simple.tabbed {
    .header {
        height: auto;
        min-height: auto;

        h2 {
            margin: 0;

            mat-icon {
                cursor: pointer;
                font-size: 20px;
                margin-left: 5px;
            }
        }
    }
}

.architecture {
    position: relative;
    min-height: 400px;

    .actions {
        position: absolute;
        top: 0;
        left: 0;
    }
}
