<div class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-24">
        <h2>Global view of operations</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <h3>Scheduled</h3>
        <mat-list>
            <mat-list-item>
                One for tomorrow
            </mat-list-item>
            <mat-list-item>
                One for today
            </mat-list-item>
        </mat-list>
        <hr>
        <h3>Previous</h3>
        <mat-list>
            <mat-list-item>
                One yesterday
            </mat-list-item>
            <mat-list-item>
                One last week
            </mat-list-item>
        </mat-list>
    </div>
    <!-- / CONTENT -->

</div>
