@mixin page-centered-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    #page-centered {
        #page-centered-wrapper {
            #page-centered-content {
                @if ($is-dark) {
                    background: mat-color($fuse-navy, 600);
                } @else {
                    background: map-get($background, card);
                }
            }
        }
    }
}