<div class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header accent p-24">
        <h2 *ngIf="workflow?.id">Detail of workflow({{workflow.id}})</h2>
        <h2 *ngIf="!workflow?.id">-</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <mat-spinner *ngIf="!workflow" [diameter]="40" style="margin: 20px auto"></mat-spinner>

        <mat-tab-group dynamicHeight="true" *ngIf="workflow">

            <mat-tab label="Architecture">
                <div class="p-24">
                    something
                </div>
            </mat-tab>

            <mat-tab label="Settings">
                <div class="p-24">
                    <p>Settings</p>
                </div>
            </mat-tab>

            <mat-tab label="History">
                <div class="p-24">
                    <p>History</p>
                </div>
            </mat-tab>

            <mat-tab label="JSON">
                <div class="p-24">
                    <pre>{{workflow|json}}</pre>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
