:host {
    text-align: center;
}

p {
    color: rgba(0,0,0,.54);
}

mat-spinner {
    margin: 50px auto;
}

.custom-message {
    font-size: large;
}

.logo {
    margin: 0 auto;
}

.message {
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}