<!-- PENDING -->
<div *ngIf="loading">
    <mat-spinner [diameter]="40"></mat-spinner>

    <p>verification in progress...</p>
</div>

<!-- SUCCESS -->
<div *ngIf="!loading && successMessage">
    <div class="logo">
        <mat-icon class="s-96" color="success">done</mat-icon>
    </div>

    <div class="custom-message mat-success">
        {{successMessage}}
    </div>

    <p>redirecting...</p>
</div>

<!-- FAILURE -->
<div *ngIf="!loading && errorMessage">
    <div class="logo">
        <mat-icon class="s-96" color="warn">close</mat-icon>
    </div>

    <div class="custom-message mat-warn">
        Authentication failed
    </div>

    <pre>{{errorMessage}}</pre>

    <div class="message">
        <a class="link" [routerLink]="'/login'">Go back to login page</a>
    </div>
</div>



