// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

pre {
    background: #EEEEEE;
    padding: 4px 8px;
    margin-right: 0;
    margin-left: 0;
}