<mat-list>
    <mat-list-item>
        <button mat-button mat-raised-button color="primary" style="margin-left: 10px" (click)="deploy()">
            <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">cloud_upload</mat-icon>
            Deploy environment
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button mat-raised-button color="accent" style="margin-left: 10px" (click)="addDomain()">
            <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">add</mat-icon>
            Add domain
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button mat-raised-button color="accent" style="margin-left: 10px" (click)="addService()">
            <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">add</mat-icon>
            Add service
        </button>
    </mat-list-item>
</mat-list>